# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# If your build process includes output of compiled CSS from LESS/SASS
# static/css/

# Django secret key and settings files
.env
.settings/

# Virtual Environment
venv/
ENV/
env/
venv.bak/
venv.bkp/

# IDEs and editors
.vscode/
.idea/
*.swp
*~
.project
.pydevproject

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# pytest
.cache
.pytest_cache/

# mypy
.mypy_cache/

# Coverate reports
htmlcov/
.coverage
.tox/
nox/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing
.tox/
.nox/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
media
staticfiles

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ansible
.venv/
.next

# Cython debug symbols
cython_debug/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
