body {
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
}

.navbar .nav li a:hover {
	background-color: #4caf50;
	color: black;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

.header-reservation {
    text-align: center;
    margin-bottom: 20px;
}

.wrapper-weekdays {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.box-weekdays {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.box-weekdays li {
    margin: 0 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
}

.box-weekdays li.active {
    background-color: #77ff00; 
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.current-date {
    font-size: 1.2em;
    color: #555;
    margin-top: 10px;
}

.reservation-type {
    margin-bottom: 20px;
    text-align: left; 
}

.reservation-type h4 {
    margin-bottom: 10px;
}

.reservation-options {
    display: flex;
    justify-content: center; 
    gap: 15px; 
}

.reservation-option {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.reservation-option input[type="radio"] {
    appearance: none; 
    background-color: white; 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px; 
    position: relative;
    cursor: pointer;
}

.reservation-option input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: black; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reservation-option label {
    cursor: pointer;
    font-weight: bold; 
    display: flex;
    align-items: center; 
}

.reservation-option.zwykla {
    background-color: #2196F3; 
    color: white;
}

.reservation-option.liga-format {
    background-color: #FF0000; 
    color: white;
}

.reservation-option.trening {
    background-color: #ffd500; 
    color: black;
}

.reservation-option.karnety {
    background-color: #006400; 
    color: white;
}

.table-responsive {
    margin-bottom: 20px;
}

.table-reservation {
    width: 100%;
    border-collapse: collapse;
}

.table-reservation th,
.table-reservation td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.table-reservation td.res {
    background-color: #4CAF50; 
    color: #fff; 
    font-weight: bold; 
}

.table-reservation td.res.selected.zwykla {
    background-color: #2196F3; 
    color: white;
}

.table-reservation td.res.selected.liga-format {
    background-color: #FF0000; 
    color: white;
}

.table-reservation td.res.selected.trening {
    background-color: #ffd500; 
    color: black;
}

.table-reservation td.res.selected.karnety {
    background-color: #006400; 
    color: white;
}

.table-reservation td.res.booked {
    background-color: #FF5722; 
    color: #fff; 
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form__field {
    margin-bottom: 15px;
}

  
 