{% load static %}
<div class="container-fluid p-0">
    <header class="header_area d-flex flex-wrap align-items-center justify-content-between py-2 mb-4 border-bottom">
        <div class="col-md-3">
            <a href="/home" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="{% static 'images/logo_final_background2.png' %}" alt="Logo" class="logo">
            </a>
        </div>
        <ul class="nav col-12 col-md-auto ml-5 mb-4 justify-content-center mb-md-0">
            <li><a href="/home" class="nav-link">Home</a></li>
            <li><a href="/reservations" class="nav-link">Korty</a></li>
            <li><a href="/trening" class="nav-link">Trening</a></li>
            <li><a href="/cennik" class="nav-link">Cennik</a></li>
            <li><a href="/accounts/profiles/" class="nav-link">Gracze</a></li>
        </ul>
        <div class="col-md-3 text-end">
            {% if request.user.is_authenticated %}
            <a href="/logout" class="btn btn-login me-2">Logout</a>
            {% else %}
            <a href="/login" class="btn btn-login me-2">Login</a>
            {% endif %}
            <a href="/register" class="btn btn-signup">Sign-up</a>
        </div>
    </header>
</div>
