{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="auth d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="card" style="width: 100%; max-width: 600px;">
        <div class="auth__header text-center">
            <a href="/home">
                <img src="{% static 'images/logo_final_background.png' %}" alt="icon" height="130"/>
            </a>
            <h3>Dołącz do Klubu</h3>
            <p>Stwórz konto</p>
        </div>

        <form method="POST" class="form auth__form d-flex flex-column justify-content-sm-center mx-5">
            {% csrf_token %}
            {% for field in user_form %}
            <div class="form__field text-center d-flex flex-column justify-content-sm-center">
                <label>{{field.label}}</label>
                {{field}}
                {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
                {% endfor %}
            </div>
            {% endfor %}
            {% for field in profile_form %}
            <div class="form__field text-center d-flex flex-column justify-content-sm-center">
                <label>{{field.label}}</label>
                {{field}}
                {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
                {% endfor %}
            </div>
            {% endfor %}

            <div class="auth__actions text-center">
                <input class="btn btn--sub btn--lg" type="submit" value="Zapisz się" />
            </div>
        </form>

        <!-- <div class="auth__alternative text-center">
            <p>Masz już konto?</p>
            <a href="{% url 'login' %}" class="btn btn--sub btn--lg">Log In</a>
        </div> -->
    </div>
</div>
{% endblock %}
