{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="app">
        <div class="container">
            <!-- Wyświetlanie dni tygodnia -->
            <div class="header-reservation">
                <div class="wrapper-weekdays">
                    <button class="btn prev-week"><span class="far fa-long-arrow-left"></span> poprzedni tydzień</button>
                    <ul class="nav box-weekdays">
                        {% comment %} <li class="weekday" data-date="2024-08-30">Sb</li> {% endcomment %}
                        <input type="date" id="court-date" name="court-date">
                    </ul>
                    <button class="btn next-week">następny tydzień <span class="far fa-long-arrow-right"></span></button>
                </div>
                <h3 class="current-date">{% now "Y-M-D"%}</h3>
            </div>

            <!-- Typ rezerwacji -->
            <div class="reservation-type">
                <h4>Wybierz typ rezerwacji:</h4>
                <div class="reservation-options">
                    <label class="reservation-option zwykla">
                        <input type="radio" name="res-type" value="1" checked>Zwykła
                    </label>
                    <label class="reservation-option liga-format">
                        <input type="radio" name="res-type" value="2">Liga Format
                    </label>
                    <label class="reservation-option trening">
                        <input type="radio" name="res-type" value="3">Trening
                    </label>
                    <label class="reservation-option karnety">
                        <input type="radio" name="res-type" value="4">Club Card
                    </label>
                </div>
            </div>

            <!-- Tabela rezerwacji -->
            <div class="table-responsive">
                <table class="table table-reservation">
                    <thead>
                        <tr>
                            <th>Godzina</th>
                            {% for court in courts %}
                            <th>Kort {{ court }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for hour in hours %}
                        <tr>
                            <td>{{ hour }}</td>
                            {% for court in courts %}
                                <td class="res" data-court="{{ court }}" data-hour="{{ hour }}" id="{{ court }}-{{ hour }}">30 zł</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Formularz danych kontaktowych -->
            <div class="contact-form">
                <h4>Uzupełnij dane kontaktowe:</h4>
                <form id="reservation-form">
                    <div class="form-group">
                        <label for="phone">Telefon kontaktowy</label>
                        <input type="text" id="phone" name="phone" class="form-control" placeholder="Podaj nr telefonu">
                    </div>
                    <div class="form-group">
                        <label for="email">Adres e-mail</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Podaj adres e-mail">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="terms" name="terms">
                        <label for="terms">Wyrażam zgodę na przetwarzanie danych osobowych</label>
                    </div>
                    {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-primary">Rezerwuj</button>
                    {% endif %}

                </form>

            </div>
            
        </div>
    </div>
{% endblock %}
